body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'TTHakgyoansimTuhoR';
    align-items: center;
    justify-content: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
.screen {
    display: flex;
    flex-direction: column;
    width: 54vh;
    height: 100vh;
    background-color: #56494C;
}

#screen1 {
    align-items: center;
    width: 22vw;
    overflow-y: scroll;
}

#screen0 {
    align-items: center;
    width: 56vw;
    background-color: aquamarine;
    overflow-y: scroll;
}

#screen2 {
    align-items: center;
    width: 22vw;
}

@font-face {
    font-family: 'OKCHAN';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTHakgyoansimTuhoR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimTuhoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.원자등록기 {
    display: flex;
    width: 7.5vw;
    height: 2.5vw;
    border-radius: 1vh;
    background-size: 2.3vw;
    justify-content: space-evenly;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #56494C;
}

.작은등록기텍스트 {
    font-size: 1.5vw;
}

.큰등록기텍스트 {
    font-size: 2vw;
}

#무지개원자상자 {
    display: flex;
    width: 54vw;
    height: 8vw;
    margin-top: 1vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8896AB;
    border-radius: 1vh;
}

#원자등록기집합, #원자아이콘집합 {
    display: flex;
    width: 54vw;
    height: 4vw;
    margin-top: 1vh;
    justify-content: space-around;
    align-items: center;
    background-color: #8896AB;
    border-radius: 1vh;
}


.무지개원자 {
    box-sizing: border-box;
    text-align: center;
    line-height: 7.5vw;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 3.75vw;
    border-style: solid;
    font-size: 4vw;
    border-width: 0.2vw;
    background-size: 6vw;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("image/null.svg");
    flex-shrink: 0;
}

.세부정보상자 > .무지개원자, .세부정보상자 > .분자 {
    zoom: 0.55;
}

#원자아이콘집합 > .무지개원자 {
    zoom: 0.40;
}


.분자 > .무지개원자 {
    zoom: 0.55;
}

.분자 {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 7.5vw;
    border-radius: 3.75vw;
    border-style: solid;
    font-size: 4vw;
    border-width: 0.2vw;
    background-size: 4.5vw;
    background-position: center;
    background-color: darkslategrey;
    background-image: url("image/molecule.svg");
}

#쓰레기통 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    box-sizing: border-box;
    text-align: center;
    line-height: 7.5vw;
    width: 15vw;
    height: 7.5vw;
    border-radius: 3.75vw;
    border-style: solid;
    font-size: 4vw;
    border-width: 0.2vw;
    background-size: 4.5vw;
    background-position: center;
    background-color: black;
}

#병상자 {
    display: flex;
    background-color: burlywood;
    width: 22vw;
    height: 35vh;
    justify-content: center;
    align-items: center;
}

#병 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 30vh;
    border-radius: 1vh;
    background-color: white;
    border-color: skyblue;
    border-style: solid;
    border-width: 1vh;
}

#병정보상자 {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 22vw;
    height: 65vh;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.container0 {
    width: 54vh;
    height: 10vh;
    margin-top: 2vh;
}


#주문서상자 {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 90vh;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: burlywood;
}

#주문서 {
    display: flex;
    flex-direction: column;
    background-color: #F5DFBB;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
}

#주문서상부, #병정보상부 {
    font-size: 5vh;
}

#주문서중부, #병정보중부 {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
}
#병정보 {
    display: flex;
    flex-direction: column;
    background-color: #8896AB;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
}

#분자제작소 {
    display: flex;
    margin-top: 1vh;
    width: 54vw;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #56494C;
    border-radius: 1vh;
}

#분자제작입력부 {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 8vw;
    border-radius: 1vh;
    background-color: #F5DFBB;
    border-color: white;
    border-style: solid;
    border-width: 0.5vh; 
    overflow-x: scroll;
}

#화살표 {
    font-size: 5vh;
    color: #56494C;
    background-color: #F5DFBB;
    border-color: white;
    border-style: solid;
    border-width: 0.5vh;
    
    border-radius: 1vh;
}

#분자제작출력부 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 8vw;
    border-radius: 1vh;
    background-color: #F5DFBB;
    border-color: white;
    border-style: solid;
    border-width: 0.5vh; 
}

.세부정보상자 {
    display: flex;
    width: 18vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

#주문서하부, #병정보하부 {
    display: flex;
    width: 20vw;
    justify-content: space-around;
}

.container5 {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 10vw;
    height: 84vh;
    justify-content: space-around;
    align-items: center;
    background-color: #8896AB;
    border-radius: 1vh;
}

.개수정보 {
    font-size: 2vw;
    margin: 2vh;
}

.질량정보 {
    font-size: 1.5vw;
    margin: 1vh;
}

#제출버튼 {
    width: 12vw;
    height: 7vh;
    border-width: 0.5vh;
    border-style: double;
    border-radius: 1vh;
    background-color: burlywood;
    font-size: 4vh;
}

#제출버튼.red {
    background-color: red;
}

#제출버튼.green {
    background-color: green;
}

#이전버튼, #다음버튼 {
    width: 3vw;
    height: 7vh;
    line-height: 6.5vh;
    text-align: center;
    border-width: 0.5vh;
    border-style: double;
    border-radius: 2vh;
    background-color: burlywood;
    font-size: 4vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}

#초기화버튼 {
    width: 15vw;
    height: 7vh;
    border-width: 0.5vh;
    border-style: double;
    border-radius: 1vh;
    background-color: skyblue;
    font-size: 4vh;
}

.icon4 {
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    font-size: 3.5vh;
    font-weight: bold;
    border-style: solid;
    border-width: 0.75vh;
    background-color: lightcyan;
}

.icon5 {
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    font-size: 3.5vh;
    font-weight: bold;
    border-style: solid;
    border-width: 0.75vh;
    background-color: lightpink;
}

.무지개원자.red {
    background-color: red;
}

.무지개원자.orange {
    background-color: orange;
}

.무지개원자.yellow {
    background-color: yellow;
}

.무지개원자.green {
    background-color: green;
}

.무지개원자.blue {
    background-color: blue;
}

.무지개원자.purple {
    background-color: purple;
}

.H {
    background-image: url("image/H.svg");
}

.C {
    background-image: url("image/C.svg");
}

.N {
    background-image: url("image/N.svg");
}

.O {
    background-image: url("image/O.svg");
}

.F {
    background-image: url("image/F.svg");
}

.S {
    background-image: url("image/S.svg");
}

.selected {
    background-color: white;
}

.hidden {
    color: darkgray;
}

.semi-hidden {
    color: darkgoldenrod;
}

.작은분자텍스트.red {
    color: red;
}

.작은분자텍스트.orange {
    color: orange;
}

.작은분자텍스트.yellow {
    color: yellow;
}

.작은분자텍스트.green {
    color: green; 
}

.작은분자텍스트.blue {
    color: blue;
}

.작은분자텍스트.purple {
    color: purple;
}

.작은분자텍스트 {
    height: 5vh;
    font-size: 2.5vh;
    line-height: 11.5vh; 
}

.sortable-ghost {
    opacity: 0.5;
}